.sticky{
    position: static;
    width:90%;
    height:auto;
    font-family: 'Montserrat',sans-serif;
    border: 2px;
    border-style: solid;
    background-color: #dbedf3;
    display: block;
    padding: 2px;
    margin:5px 5px;
    
    
    
}
p{
    color: black;
    font-size:0.75rem;
    font-family: "Montserrat",sans-serif;
}
h1{
    color: #dbedf3;
      font-family: "Montserrat",sans-serif;
    font-size: 1.5rem;
     text-align: center;
}
body{
    background-color: #283149;
    margin: 0px;
    padding: 5px;
}
.profile{
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    color: #dbedf3;
    text-align: left;
    font-size: 1rem;
    height:auto;
}
.addtask{
    background-color: transparent;
    color:cadetblue;
    border-style: none;
    font-size:1rem;
    margin-right: 3px;
    margin-top: 
}
.delete{
    background-color: transparent;
    color:black;
    border-style: none;
    font-size: 1rem;
    margin-right: 3px;
}
.deletenote{
     background-color: transparent;
    color:black;
    border-style: none;
    font-size: 1rem;
    margin-right: 3px;
    
}
.edit{
    background-color: transparent;
    color:yellow;
    border-style: none;
    font-size: 1rem;
    margin-right: 3px;
}
.profileform{
    margin-bottom: 0px;
     font-family: "Montserrat",sans-serif;
    text-align: right;
    
}
.profileforma
{
    display: none;
    
}
.profilea{
   
    font-family: "Montserrat",sans-serif;
    
}
#mainform {
  margin: auto;
  width: 50%;
  padding: 3rem 2rem;
    height: auto;  
    display: none;
}
#editform
{
    margin: auto;
  width: 50%;
  padding: 3rem 2rem;
    height: auto;  
    display: none; 
}

.form {
  padding: 2rem;
  
    
}

.myform label {
  display: block;
}

.myform input{
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 1px;
  background: #333;
  color:black;
  border-radius: 5px;
  margin: 5px 0;
}

.btn:hover {
  background: #444;
}
hr{
    border-bottom: 3px;
    border-color: cadetblue;
    margin: 0px;
}
.top{
   max-width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow:auto;
}
.note{
   max-width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow:auto;
}
.notes{
  height: 100%;
    border-right:3px;
    border-right-style: solid;
    border-right-color: black;
    padding:5px;
    overflow:auto;
}
#